/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web ../Fonts: https://www.linotype.com
*/
@font-face{
  font-family:"Avenir LT W04_35 Light1475500";
  src:url("../Fonts/1475500/c886ac4d-0476-43f2-859c-69521d566f36.eot?#iefix");
  src:url("../Fonts/1475500/c886ac4d-0476-43f2-859c-69521d566f36.eot?#iefix") format("eot"),url("../Fonts/1475500/bfb11081-e571-43ad-bed9-8953cfd4133e.woff2") format("woff2"),url("../Fonts/1475500/e35493b4-782b-41f0-b3f0-b7e5d0ceab0b.woff") format("woff"),url("../Fonts/1475500/3441ac36-8e74-4708-8a0e-bc7eb293b307.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W04_65 Medium1475536";
  src:url("../Fonts/1475536/4b08ce72-f57c-4113-84ba-56062e307075.eot?#iefix");
  src:url("../Fonts/1475536/4b08ce72-f57c-4113-84ba-56062e307075.eot?#iefix") format("eot"),url("../Fonts/1475536/7839a002-2019-46e4-8db8-c8335356ceee.woff2") format("woff2"),url("../Fonts/1475536/28433854-a1b7-4a30-b6a4-10c3a5c75494.woff") format("woff"),url("../Fonts/1475536/edcbf576-7e55-423b-9ec9-cf526614a117.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W04_85 Heavy1475548";
  src:url("../Fonts/1475548/7ed39c78-4da5-42df-831b-798b2272d1ac.eot?#iefix");
  src:url("../Fonts/1475548/7ed39c78-4da5-42df-831b-798b2272d1ac.eot?#iefix") format("eot"),url("../Fonts/1475548/e9b44b79-923f-49b3-837c-290bc70628cc.woff2") format("woff2"),url("../Fonts/1475548/fbd14ec6-aa86-4ccd-af83-931d5eb79910.woff") format("woff"),url("../Fonts/1475548/0d230b6d-eb52-48b7-9c4b-c3f876465fe6.ttf") format("truetype");
}
@font-face{
  font-family:"FuturaBT W04 Condensed Light";
  src:url("../Fonts/1603832/c75fe4e9-3d34-4fde-82cf-bee25ae9531b.eot?#iefix");
  src:url("../Fonts/1603832/c75fe4e9-3d34-4fde-82cf-bee25ae9531b.eot?#iefix") format("eot"),url("../Fonts/1603832/64d35b75-c7ce-4c67-8daa-2d53daf5667f.woff2") format("woff2"),url("../Fonts/1603832/6f3cb544-81cf-4699-9db8-829caf5bdc7e.woff") format("woff"),url("../Fonts/1603832/cd45d462-57cd-4496-8073-602d6068ef90.ttf") format("truetype");
}
@font-face{
  font-family:"FuturaBT W04 Light";
  src:url("../Fonts/1603848/b2c8a0bd-ee8a-4046-a0d9-12e4602f7868.eot?#iefix");
  src:url("../Fonts/1603848/b2c8a0bd-ee8a-4046-a0d9-12e4602f7868.eot?#iefix") format("eot"),url("../Fonts/1603848/33f3486d-94f1-4a84-8d93-9d52b15b8bc3.woff2") format("woff2"),url("../Fonts/1603848/0f45b023-06be-4302-b3fb-10515a026dcb.woff") format("woff"),url("../Fonts/1603848/0310aa35-c24b-4121-830c-6ef122f80f47.ttf") format("truetype");
}

// Google Font Fallbacks
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
