.et_pb_widget_area_left {
  border-right: none;
}

.et_pb_gutters2 .et_pb_column_1_2 .et_pb_widget {
  width: 100%;
}

// Menu widgets
.entry-content {
  .et_pb_widget.widget_nav_menu {

    @media (max-width: 980px) {
      margin-bottom: 0 !important;
    }

    ul.menu {
      width: 138px;
      position: relative;

      & > li {
        position: relative;
        float: left;
        width: 50%;
        height: 0;
        padding-top: 50%;
        margin: 0;

        &:nth-child(2) {
          clear: left;
        }

        & > a {
          position: absolute;
          top: 0;
          left: 0;
          right: 5px;
          bottom: 5px;
          background: darken($gray-light, 8%);
          color: $white;
          padding: 5px;
          font-size: 15px;
          line-height: 1;
          transition: background .2s ease;
          font-family: $futura-light;
          // -ms-word-break:   break-all;
          // word-break:       break-word;
          // word-wrap:        break-word;
          // -webkit-hyphens:  auto;
          // -moz-hyphens:  auto;
          // hyphens:  auto;
          white-space: normal;

          &:hover, &:active, &:focus {
            background: $blue;
          }
        }

        &.menu-item-1248 > a {
          line-height: .9em;
        }

        &.current-menu-item > a {
          background: $gray-light;
        }
      }
    }
  }
}

// Event list widget
.hentry {
  .et_pb_column {
    .et_pb_widget.tribe-events-adv-list-widget {
      width: 100% !important;
      margin: 0 !important;
    }
  }
}
